{{#each this}}
<div class="photo-card">
    <img src="{{webformatURL}}" alt="{{tags}}" />

    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">{{likes}}</i>
        </p>
        <p class="stats-item">
            <i class="material-icons">{{views}}</i>
        </p>
        <p class="stats-item">
            <i class="material-icons">{{comments}}</i>
        </p>
        <p class="stats-item">
            <i class="material-icons">{{downloads}}</i>
        </p>
    </div>
</div>
{{/each}}